<!-- Journey Section -->
    <section id="journey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Journey so far..</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2023</h4>
                                    <h4 class="subheading">First Light</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">First version of the paper was published on <a href="https://arxiv.org/abs/2307.07262" target=”_blank” rel="noopener noreferrer">Arxiv</a> and it went through two rounds of ACL Rolling Reviews.</p> 
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2023</h4>
                                    <h4 class="subheading">Patent Pending</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Filed patent application</p> 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec 2023</h4>
                                    <h4 class="subheading">Hessian AI Startup Rising</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Accepted as a member of <a href="https://hessian.ai/entrepreneurship/" target=”_blank” rel="noopener noreferrer">Hessian AI</a> community</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2024</h4>
                                    <h4 class="subheading">Compute grant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Awarded compute grant from <a href="https://hessian.ai/infrastructure/ai-innovationlab/" target=”_blank” rel="noopener noreferrer">Hessian AI Innovation Lab</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>