<section id="demo" class="bg-light-gray">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Take it for a Spin</h2>
            <h3 class="section-subheading">Compare MorphPiece with GPT-2/GPT-4/Any public HuggingFace tokenizer in 12 different languages. <br> You will observe that unike BPE tokens, MorphPiece splits are more intuitive.</h3>
            
        </div>
    </div>
    <div class="streamlit-container">
        <iframe src="https://morphpiece.maveriq.online:8501/?embed=true" height="450"></iframe>
<!--         <iframe src="http://16.171.42.165:8501/?embed=true" height="450"></iframe> -->
<!--         <iframe src="https://morphpiece.streamlit.app/?embed=true" height="450"></iframe> -->
    </div>
